@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@layer {
  .fe {
    @apply bg-amber-900;
  }

  .members-title {
    @apply font-bold text-4xl text-center text-primary;
  }

  .members-paragraph {
    @apply font-normal text-center mt-4 text-black;
  }

  .members-subtitle {
    @apply font-bold text-2xl text-center text-primary;
  }

  button {
    @apply cursor-pointer disabled:bg-gray-800 disabled:cursor-not-allowed;
  }

  .table-header {
    @apply text-black font-normal;
  }

  .library-bg {
    @apply bg-gray-800;
  }

  .library-dark-bg {
    @apply dark:bg-gray-800;
  }

  .library-title {
    @apply text-3xl font-semibold text-gray-900 dark:text-white;
  }

  .library-subtitle {
    @apply text-2xl font-semibold text-gray-900 dark:text-white;
  }

  .table-data {
    @apply p-4 border-b border-r border-gray-300 dark:text-white dark:border-gray-700;
  }

  .primary-button {
    @apply flex items-center px-4 py-2 rounded-lg bg-primary text-white shadow-md transition-all duration-300 ease-in-out hover:bg-primary/80 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-primary/50;
  }

  form {
    @apply dark:scheme-dark;
  }

  .button-rounded {
    @apply flex items-center px-4 py-2 rounded-full bg-primary text-white shadow-md transition-all duration-300 ease-in-out hover:bg-primary/80 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-primary/50;
  }

  .input-style {
    @apply w-md px-3 py-2 border border-gray-200 rounded-sm focus:outline-none focus:ring-2 focus:ring-primary;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--tw-bg-opacity, 1) #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #3674b5;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1863b3;
}

.custom-after::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -4%;
  width: 20px;
  height: 20px;
  background-color: #4f46e5;
}

@layer base {
  img {
    display: initial;
  }
}

@custom-variant dark (&:is(.dark *));

.custom-shape-divider-bottom-1743166455 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ff000098;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1743166455 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 203px;
}

.custom-shape-divider-bottom-1743166455 .shape-fill {
  fill: oklch(0.962 0.018 272.314);
}

@theme {
  --color-primary: oklch(0.55 0.1202 251.83);
  --color-black: oklch(0.32 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Light Theme */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2644 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2644 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2644 0 0);
  --primary: oklch(0.6315 0.1237 259.86);
  --primary-foreground: oklch(0.9886 0 0);
  --secondary: oklch(0.9772 0 0);
  --secondary-foreground: oklch(0.3261 0 0);
  --muted: oklch(0.9772 0 0);
  --muted-foreground: oklch(0.646 0 0);
  --accent: oklch(0.6315 0.1237 259.86);
  --accent-foreground: oklch(0.3261 0 0);
  --destructive: oklch(0.6201 0.2092 25.7747);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9404 0 0);
  --input: oklch(0.9404 0 0);
  --ring: oklch(0.7716 0 0);
  --chart-1: oklch(0.8241 0.1251 84.4866);
  --chart-2: oklch(0.8006 0.1116 203.6044);
  --chart-3: oklch(0.4198 0.1693 266.7798);
  --chart-4: oklch(0.9214 0.0762 125.5777);
  --chart-5: oklch(0.9151 0.1032 116.1913);
  --sidebar: oklch(0.9886 0 0);
  --sidebar-foreground: oklch(0.2644 0 0);
  --sidebar-primary: oklch(0.3261 0 0);
  --sidebar-primary-foreground: oklch(0.9886 0 0);
  --sidebar-accent: oklch(0.9772 0 0);
  --sidebar-accent-foreground: oklch(0.3261 0 0);
  --sidebar-border: oklch(0.9404 0 0);
  --sidebar-ring: oklch(0.7716 0 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: Poppins, sans-serif;
  --font-mono: Roboto, sans-serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

/* Dark Theme */
.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.5495 0.1202 251.83);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.6315 0.1237 259.86);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2741 0.0055 286.0329);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.2741 0.0055 286.0329);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.971 0.0127 17.3758);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.8709 0.0055 286.2853);
  --chart-1: oklch(0.5292 0.1931 262.1292);
  --chart-2: oklch(0.6983 0.1337 165.4626);
  --chart-3: oklch(0.7232 0.150 60.6307);
  --chart-4: oklch(0.6192 0.2037 312.7283);
  --chart-5: oklch(0.6123 0.2093 6.3856);
  --sidebar: oklch(0.2103 0.0059 285.8835);
  --sidebar-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-primary: oklch(0.4878 0.217 264.3876);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2741 0.0055 286.0329);
  --sidebar-accent-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.8709 0.0055 286.2853);
  --font-sans: Outfit, sans-serif;
  --font-serif: Poppins, sans-serif;
  --font-mono: Roboto, sans-serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}